/Class_Lab/MathInstructorDisagreement/dist/
/Class_Lab/MathInstructorDisagreement/build/
/Class_Lab/MathInstructorDisagreement_V2/build/
/Class_Lab/MathInstructorDisagreement_V2/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj5/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj5/build/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj8/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj8/build/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj10/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj10/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal18/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal18/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal4/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal4/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal10/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal10/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal2/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal2/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal11/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal11/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal17/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal17/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal1/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal1/build/