/Class_Lab/MathInstructorDisagreement/dist/
/Class_Lab/MathInstructorDisagreement/build/
/Class_Lab/MathInstructorDisagreement_V2/build/
/Class_Lab/MathInstructorDisagreement_V2/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj5/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj5/build/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj8/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj8/build/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj10/dist/
/Hmwk/Assignment1/Savitch_8thEd_Chap1_ProgProj10/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal18/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal18/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal4/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal4/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal10/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal10/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal2/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal2/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal11/build/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal11/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal17/dist/
/Hmwk/Assignment1/Gaddis_7thEd_Chap2_ProgChal17/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal1/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal1/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal3/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal3/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal10/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal10/build/
/Class_Lab/RollThe DiceToAFile/dist/
/Class_Lab/RollThe DiceToAFile/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal20/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal20/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal17/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal17/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal11/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal11/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal21/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal21/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal22/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal22/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal15/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal15/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal16/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap3_ProgChal16/dist/
/Class_Lab/TruthTable/dist/
/Class_Lab/TruthTable/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj3/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj3/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj1/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj1/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj6/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj6/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj2/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj2/dist/
/Class_Lab/Assignment2ExampleWithMenu/build/
/Class_Lab/Assignment2ExampleWithMenu/dist/
/Class_Lab/BranchingMonthlyPaymentCalculator/dist/
/Class_Lab/BranchingMonthlyPaymentCalculator/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_DoWhile/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_DoWhile/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_DoWhile copy/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_DoWhile copy/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_While/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_While/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_While copy/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_While copy/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_For/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj12_For/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj10/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj10/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj10 copy/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj10 copy/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj10_For/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap2_ProgProj10_For/build/
/Class_Lab/TruthTable_NestLoop/dist/
/Class_Lab/TruthTable_NestLoop/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap4_ProgChal5/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap4_ProgChal5/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap4_ProgChal10/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap4_ProgChal10/dist/
/Hmwk/Assignment2/Gaddis_7thEd_Chap4_ProgChal19/build/
/Hmwk/Assignment2/Gaddis_7thEd_Chap4_ProgChal19/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj6/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj6/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj8/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj8/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj10/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj10/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj1/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj1/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj16/build/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj16/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj14/dist/
/Hmwk/Assignment2/Savitch_8thEd_Chap3_ProgProj14/build/
/Hmwk/Assignment2/assignment2/build/
/Hmwk/Assignment2/assignment2/dist/
/Hmwk/Assignment3/assignment3/build/
/Hmwk/Assignment3/assignment3/dist/
/Hmwk/Assignment3/Savitch_8thEd_Chap3_ProgProj19/dist/
/Hmwk/Assignment3/Savitch_8thEd_Chap3_ProgProj19/build/
/Hmwk/Assignment3/Savitch_8thEd_Chap3_ProgProj7/dist/
/Hmwk/Assignment3/Savitch_8thEd_Chap3_ProgProj7/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj1/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj1/dist/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj8/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj8/dist/
/Class_Lab/MaxiumRandomNumber/build/
/Class_Lab/MaxiumRandomNumber/dist/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj9/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj9/dist/
/Class_Lab/FactorialNoFunction/build/
/Class_Lab/FactorialNoFunction/dist/
/Class_Lab/EtoTheXWithoutFunction/dist/
/Class_Lab/EtoTheXWithoutFunction/build/
/Class_Lab/EtoTheXWIth1Function/build/
/Class_Lab/EtoTheXWIth1Function/dist/
/Class_Lab/EtoXWithTwoFunction/dist/
/Class_Lab/EtoXWithTwoFunction/build/
/Class_Lab/HowManyYearSaveFunction/build/
/Class_Lab/HowManyYearSaveFunction/dist/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj7/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj7/dist/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj14/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj14/dist/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj2/dist/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj2/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj4/build/
/Hmwk/Assignment4/Savitch_8thEd_Chap4_ProgProj4/dist/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj1/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj1/dist/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj2/dist/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj2/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj13/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj13/dist/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj3/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj3/dist/
/Hmwk/Assignment5/assignment5/dist/
/Hmwk/Assignment5/assignment5/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj4/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj4/dist/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj5/dist/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj5/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj6/build/
/Hmwk/Assignment5/Savitch_8thEd_Chap5_ProgProj6/dist/
/Hmwk/Assignment4/assignment4/dist/
/Hmwk/Assignment4/assignment4/build/
/Class_Lab/Timer/build/
/Class_Lab/Timer/dist/
/Class_Lab/Timer_v2/dist/
/Class_Lab/Timer_v2/build/
/Class_Lab/Assignment3ExamplewithMenuToFlowchart/build/
/Class_Lab/Assignment3ExamplewithMenuToFlowchart/dist/
/Class_Lab/AssignmentWith3ExamplewithMenuToFlowchart/build/
/Class_Lab/AssignmentWith3ExamplewithMenuToFlowchart/dist/
/Class_Lab/HowManyYearSaveFunction_v2/build/
/Class_Lab/HowManyYearSaveFunction_v2/dist/
/Class_Lab/HowManyYearSaveFunction copy/build/
/Class_Lab/HowManyYearSaveFunction copy/dist/
/Class_Lab/Retirement/build/
/Class_Lab/Retirement/dist/
/Project1/Bomb_Password/build/
/Project1/Bomb_Password/dist/
/Class_Lab/PartiallyFillArray/build/
/Class_Lab/PartiallyFillArray/dist/